<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      I am Juan Camilo Orejela, a Junior Full Stack Developer with a passion for programming and a results-driven mindset. <strong
        >With nearly two years of hands-on experience in JavaScript and Python</strong
      >.
    </p>

    <p>
      I am currently pursuing a degree in Systems Engineering, <strong
        >currently in my eighth semester</strong
      > My journey began as a <strong>self-motivated enthusiast</strong>, evolving into a skilled developer with a focus on web technologies and scripting languages.
    </p>
  </div>
  <img src="/aboutme.jpeg" class="size-64 order-1 md:order-2" id="me"/>
</section>

<style>
  #me{
    border-radius: 4rem 2rem;
  }
</style>
