---
import StudiesItem from "./StudiesItem.astro"
const EXPERIENCIE = [
  {
    date: "Currently...",
    title: "Student at University of Cauca",
    description:
      "As an last-semester student pursuing a degree in Systems Engineering at the University of Cauca, my academic journey has been a dynamic exploration of the intricate intersections between technology and problem-solving. Throughout my tenure, I have delved into a diverse range of subjects, honing my skills in programming, system design, and data management.",
  },
  {
    date: "November 2024",
    title: "Scrum Fundamentals Certified: ScrumStudy",
    description:
      "In the \"Scrum Fundamentals Certified\" course at ScrumStudy, I learned the fundamental aspects of Scrum, including its principles, roles, and processes. This certification has equipped me with the knowledge and skills to effectively contribute to Scrum teams and projects.",
    link: "https://www.scrumstudy.com/certification/verify?type=SFC&number=1057370"
  },
  {
    date: "May 2024",
    title: "Bootcamp Inteligencia Artificial Nivel Intermedio",
    description:
      "In the \"Bootcamp Inteligencia Artificial Nivel Intermedio\" bootcamp, I deepened my understanding of artificial intelligence and machine learning. This course provided me with the tools and knowledge to develop AI models and applications.",
    link: "https://www.acreditta.com/credential/5639e9dd-b0ad-43af-82d5-7e1b53bba4c8?utm_source=copy&resource_type=badge&resource=5639e9dd-b0ad-43af-82d5-7e1b53bba4c8"
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <StudiesItem {...experiencie} />
      </li>
    ))
  }
</ol>
